.hide {
    display: none;
}

.indPlayers {
    font-weight: bold;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: white;
}

.indPlayers {
    font-size: larger;
    color: white;
    background-color: #17a2b8;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.indPlayers:hover {
    color: #000000;
    cursor: pointer;
}

.addBtn {
    margin-left: 50px;
}

.scoreTxt {
    margin-left: 50px;
}

/* .navbar-dark {
    color: white;
} */

.navTitle {
    color: white;
}

.navbar-toggler-icon {
    height: auto;
    vertical-align: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.navbar-toggler {
    background-color: white;
}

.navbtn {
    color: #cbf3f8;
}

.navbtn:hover {
    color: grey;
}

.hide {
    display: none;
}

@media only screen and (max-width: 378px) {
    .addBtn {
        margin-left: 10px;
    }
    .scoreTxt {
        margin-left: 10px;
    }
  }